# Settings Files
*.ini

# Ignore all Visual Studio project and solution files
*.sln
*.vcxproj*

#Ignore visual studio hint files
*.hint

# Ignore all files in the .vs- and .vscode- folders (Created by Visual Studio)
.vs/
.vscode/

# Ignore all compiled files
Build/
Dependencies/bin/
Dependencies/bin-int/

#VS Packages
packages/

# macos files
*.DS_Store
*.db
