[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/Mumsfilibaba/imgui
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Dependencies/OpenFBX"]
	path = Dependencies/OpenFBX
	url = https://github.com/Mumsfilibaba/OpenFBX
[submodule "Dependencies/SPIRV-Cross"]
	path = Dependencies/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "Dependencies/tinyddsloader"]
	path = Dependencies/tinyddsloader
	url = https://github.com/Mumsfilibaba/tinyddsloader
