[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/Mumsfilibaba/imgui
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Dependencies/OpenFBX"]
	path = Dependencies/OpenFBX
	url = https://github.com/Mumsfilibaba/OpenFBX
