[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/Mumsfilibaba/imgui
[submodule "ThirdParty/tinyobjloader"]
	path = ThirdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "ThirdParty/OpenFBX"]
	path = ThirdParty/OpenFBX
	url = https://github.com/Mumsfilibaba/OpenFBX
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ThirdParty/tinyddsloader"]
	path = ThirdParty/tinyddsloader
	url = https://github.com/Mumsfilibaba/tinyddsloader
[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang
